<!-- This is my most basic HTML skeleton for a file that will load a css stylesheet named "style.css"-->

<!doctype html>

<html>
        <head>
                <title>TMZ</title>
                <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static1.css') }}">

        </head>

		<body>

<!-- Main content goes here -->
		<h3>The Elevator of the MET.</h3>

		<p> Me and you, the elevator and your sister too.</p>

	<div id="navigation_bar">
		<div class='nav_button'> Solange </div>
		<div class='nav_button'> Beyonce </div>
		<div class='nav_button'> Jay-Z </div>
		<div class='nav_button'> Security </div>
		</body>
	</div>
</html>