<!--This is my decarcerapp landing page.-->
<!doctype html>
<html>
        <head>
                <title>Decarcerapp</title>
                <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static1.css') }}">

        </head>

		<body>

<!-- Main content goes here -->
		<h3>The Decarcerapp</h3>

		<p> An app to help young people of color navigate interactions with the police.</p>

	<div id="navigation_bar">
		<div class='nav_button'> Sign In </div>
		<div class='nav_button'> About Us </div>
		<div class='nav_button'> Affiliate Organizations </div>
		<div class='nav_button'> Contact US </div>
		</body>
	</div>
</html>