<!--This is my decarcerapp landing page.-->
<!doctype html>

<html>
        <head>
              <title>Decarcerator</title>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='DecarceratorStyleSheet.css') }}">

        </head>

		<body>
	<div id="navigation_bar">
		<a href="{{ url_for('LandingPage') }}"><div class='nav_button'> Home </div> </a>
		<div class='nav_button'> About Us </div>
		<a href="{{ url_for('Login') }}"><div class='nav_button'> Login </div> </a>

		<a href="{{ url_for('SignUp') }}"><div class='nav_button'> Sign Up </div> </a>
		<div class='nav_button'> Why We Do It </div>
		<div class='nav_button'> Get Involved </div>
	</div>

<!-- Main content goes here -->
		<h3>The Decarcerator.</h3>

		<p> Serving young people of color to get immediate help in navigating police interactions. </p>


</body>
</html>