<!-- This is the lawyer login page. -->

<html>
        <head>
                <title> Lawyer Login </title>
                <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static1.css') }}">

        </head>

		<body>

<!-- Main content goes here -->
		<h3> If You're a Lawyer. Login here. </h3>

		<p> Please fill out info for volunteer oppurtunities. </p>

	<div id="navigation_bar">
		<div class='nav_button'> name </div>
		<div class='nav_button'> location </div>
		<div class='nav_button'> dob </div>
		<div class='nav_button'> sign up </div>
		</body>
	</div>
</html>