<!-- This is my Sign Up page -->
<html>
        <head>
                <title> Sign Up </title>
                <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static1.css') }}">

        </head>

		<body>

<!-- Main content goes here -->
		<h3>Sign Up to create an account.</h3>

		<p> This will help us help you as soon as possible.</p>

	<div id="navigation_bar">
		<div class='nav_button'> Name </div>
		<div class='nav_button'> DOB </div>
		<div class='nav_button'> SSN </div>
		<div class='nav_button'> Address </div>
		</body>
	</div>
</html>